@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@400;500;600;700&family=Trocchi&display=swap");
/*Inicio Header*/
@media screen and (max-width: 576px) {
  header {
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  header .header-desktop {
    display: none;
  }
  header .menu-desplegable {
    width: 100%;
    height: 3.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 1;
  }
  header .menu-desplegable input:checked ~ ul {
    display: block;
  }
  header .menu-desplegable .input-menu {
    display: none;
  }
  header .menu-desplegable a .logo-mobile {
    height: 2.25rem;
    display: flex;
    align-items: center;
  }
  header .menu-desplegable .menu-hamburguesa {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    user-select: none;
    margin-right: 9.75rem;
  }
  header .menu-desplegable .items-menu {
    width: 17.5rem;
    height: auto;
    display: none;
    margin-top: 25.625rem;
    margin-left: -19.75rem;
    padding-left: 2.5rem;
    box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.25);
    z-index: 0;
    background-color: white;
  }
  header .menu-desplegable .items-menu .navegacion-menu {
    display: block;
    background-color: white;
    margin: 0;
    padding: 1.25rem 0px 0.625rem 1rem;
    list-style: none;
  }
  header .menu-desplegable .items-menu .navegacion-menu a {
    text-decoration: none;
    color: #292929;
  }
  header .menu-desplegable .items-menu .registro {
    display: block;
    width: 15.5rem;
    border-radius: 6px;
    border: none;
    background-color: #4E63D4;
    margin-bottom: 1.25rem;
    padding: 0.75rem 0 0.75rem 1rem;
    list-style: none;
    text-align: center;
  }
  header .menu-desplegable .items-menu .registro a {
    text-decoration: none;
    color: white;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  header {
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  header .header-desktop {
    display: none;
  }
  header .menu-desplegable {
    width: 100%;
    height: 3.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 1;
  }
  header .menu-desplegable input:checked ~ ul {
    display: block;
  }
  header .menu-desplegable .input-menu {
    display: none;
  }
  header .menu-desplegable a .logo-mobile {
    height: 2.25rem;
    display: flex;
    align-items: center;
  }
  header .menu-desplegable .menu-hamburguesa {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    user-select: none;
    margin-right: 18rem;
  }
  header .menu-desplegable .items-menu {
    width: 17.5rem;
    height: auto;
    display: none;
    margin-top: 25.75rem;
    margin-left: -28.125rem;
    padding-left: 2.5rem;
    box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.25);
    z-index: 0;
    background-color: white;
  }
  header .menu-desplegable .items-menu .navegacion-menu {
    display: block;
    background-color: white;
    margin: 0;
    padding: 0.75rem 0px 0.625rem 1rem;
    list-style: none;
  }
  header .menu-desplegable .items-menu .navegacion-menu a {
    text-decoration: none;
    color: #292929;
  }
  header .menu-desplegable .items-menu .registro {
    display: block;
    width: 15.5rem;
    border-radius: 6px;
    border: none;
    background-color: #4E63D4;
    margin-bottom: 1.25rem;
    padding: 0.75rem 0 0.75rem 1rem;
    list-style: none;
    text-align: center;
  }
  header .menu-desplegable .items-menu .registro a {
    text-decoration: none;
    color: white;
  }
}
@media screen and (min-width: 969px) {
  .menu-desplegable {
    display: none;
  }

  header {
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  header .header-desktop {
    padding: 0 3% 0 3%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .header-desktop ul {
    width: 56%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  header .header-desktop ul li {
    list-style-type: none;
  }
  header .header-desktop ul li a {
    font-weight: 400;
    font-size: 16px;
    color: #757272;
    text-decoration: none;
  }
  header .header-desktop ul li a:hover {
    color: #4E63D4;
    font-weight: 600;
    transition: all 300ms linear;
    background-color: #ceebf198;
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }
  header .header-desktop ul li .registro {
    border-radius: 8px;
    border: 2px solid #4E63D4;
    color: #4E63D4;
    padding: 8px 12px;
    font-weight: 500;
  }
  header .header-desktop ul li .registro:hover {
    border: 2px solid #4E63D4;
    color: white;
    background-color: #4E63D4;
    transition: all 300ms ease-out;
  }
}
/*Fin Header*/
/*Inicio Home*/
@media screen and (max-width: 576px) {
  .home-contenedor {
    width: 23.25rem;
    height: 42.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 40px;
    border: none;
    background-color: #CEEBF1;
    margin: auto;
    margin-top: 4.25rem;
    z-index: -1;
  }
  .home-contenedor h1 {
    margin-top: 1.5rem;
    margin-left: 1rem;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    width: 21.5rem;
    height: 42.5rem;
  }
  .home-contenedor h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    width: 15.25rem;
    margin-top: -15.75rem;
    margin-left: 1rem;
  }
  .home-contenedor img {
    display: none;
  }

  .buscador-contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 21.25rem;
    height: 25.25rem;
    position: relative;
    top: -26.25rem;
    background-color: #f9f9f9c7;
    border-radius: 1.25rem;
    margin: auto;
    box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.25);
    z-index: 0;
    margin-bottom: -22rem;
  }
  .buscador-contenedor .definir-detalles {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin: 10px;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .formularios-buscador {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .formularios-buscador .iconos-busqueda {
    height: 1rem;
    margin-right: 0.5rem;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .formularios-buscador label {
    font-weight: 600;
    font-size: 20px;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador div input {
    border-radius: 12px;
    border: none;
    color: #494747;
    background-color: #EEEBEB;
    width: 19.25rem;
    height: 3rem;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.13);
    padding-left: 1rem;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador div .button {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) and (min-width: 968px) {
  .buscador-contenedor .definir-detalles .secciones-buscador div .button button {
    display: none;
  }
}
@media screen and (max-width: 576px) and (max-width: 576px) {
  .buscador-contenedor .definir-detalles .secciones-buscador div .button button {
    border-radius: 12px;
    border: none;
    color: white;
    background-color: #4E63D4;
    width: 19.25rem;
    height: 3.5rem;
    font-weight: 500;
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  .buscador-contenedor .definir-detalles .secciones-buscador .vertical-line {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .buscador-contenedor .definir-detalles .secciones-buscador .button-search {
    display: none;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .home-contenedor {
    border-radius: 24px;
    border: none;
    background-color: #CEEBF1;
    width: 96%;
    height: 29rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    margin-top: 4.25rem;
  }
  .home-contenedor h1 {
    width: 56%;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.5rem;
    margin-right: 2.75rem;
    margin-top: 3rem;
  }
  .home-contenedor img {
    border-radius: 1.25rem;
    margin-top: 3rem;
    width: 12.5rem;
  }
  .home-contenedor h2 {
    font-weight: 500;
    font-size: 28px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: -6.75rem;
    margin-left: -13rem;
  }

  .buscador-contenedor {
    width: 42rem;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9be;
    position: relative;
    top: -6rem;
    border-radius: 1.25rem;
    margin: auto;
    box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 9.25rem;
  }
  .buscador-contenedor .definir-detalles {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador {
    display: inline-block;
    padding: 0 1rem 0 1rem;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .button-search {
    border-radius: 12px;
    background-color: #4E63D4;
    width: 3rem;
    height: 7rem;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .button-search:hover {
    box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
    transform: scale(1.2);
    transition: all 250ms ease-out;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .formularios-buscador {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .formularios-buscador .iconos-busqueda {
    margin-right: 0.25rem;
    height: 1rem;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .formularios-buscador label {
    font-weight: 600;
    font-size: 14px;
    width: 8.5rem;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador div input {
    border-radius: 12px;
    border: none;
    color: #494747;
    background-color: #EEEBEB;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    height: 2.5rem;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.13);
    padding-left: 1rem;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .vertical-line {
    border-left: 1px solid #757272;
  }
  .buscador-contenedor .definir-detalles .button {
    display: none;
  }
}
@media screen and (min-width: 969px) {
  .home-contenedor {
    border-radius: 40px;
    border: none;
    background-color: #CEEBF1;
    width: 96%;
    height: 40rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    margin-top: 4.25rem;
  }
  .home-contenedor h1 {
    width: 56%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 700;
    font-size: 96px;
    line-height: 120px;
    margin-bottom: 0.5rem;
    margin-right: 10px;
    margin-top: 3.75rem;
  }
  .home-contenedor img {
    width: 18.25rem;
    border-radius: 1.25rem;
    margin-top: 5rem;
  }
  .home-contenedor h2 {
    font-weight: 500;
    font-size: 42px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: -7.5rem;
    margin-left: -23rem;
  }

  .buscador-contenedor {
    width: 78%;
    height: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9be;
    position: relative;
    top: -6rem;
    border-radius: 1.25rem;
    margin: auto;
    box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 9.25rem;
  }
  .buscador-contenedor .definir-detalles {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador {
    display: inline-block;
    padding: 0 1rem 0 1rem;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .button-search {
    border-radius: 12px;
    background-color: #4E63D4;
    width: 4rem;
    height: 7rem;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .button-search:hover {
    box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
    transform: scale(1.2);
    transition: all 250ms ease-out;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .formularios-buscador {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .formularios-buscador .iconos-busqueda {
    width: auto;
    height: 1.25rem;
    margin-right: 0.5rem;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .formularios-buscador label {
    font-weight: 700;
    font-size: 24px;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador div input {
    border-radius: 12px;
    border: none;
    color: #494747;
    background-color: #EEEBEB;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.13);
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;
  }
  .buscador-contenedor .definir-detalles .secciones-buscador .vertical-line {
    border-left: 1px solid #757272;
  }
  .buscador-contenedor .definir-detalles .button {
    display: none;
  }
}
/*Fin Home*/
/*Inicio Promociones*/
.promociones {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-bottom: 9.25rem;
}
@media screen and (max-width: 576px) {
  .promociones {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin-bottom: 3.75rem;
  }
}
.promociones .contenedor-titulo {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}
@media screen and (max-width: 576px) {
  .promociones .contenedor-titulo {
    width: 100%;
  }
}
.promociones .contenedor-titulo h3 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  width: 80%;
}
@media screen and (max-width: 576px) {
  .promociones .contenedor-titulo h3 {
    font-weight: 700;
    font-size: 28px;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .promociones .contenedor-titulo h3 {
    font-weight: 700;
    font-size: 28px;
    width: 100%;
  }
}
.promociones .contenedor-titulo h4 {
  font-weight: 400;
  font-size: 20px;
  color: #757272;
  width: 60%;
}
@media screen and (max-width: 576px) {
  .promociones .contenedor-titulo h4 {
    width: 90%;
    font-weight: 400;
    font-size: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .promociones .contenedor-titulo h4 {
    width: 90%;
    font-weight: 400;
    font-size: 18px;
  }
}
.promociones .slider {
  width: 60%;
  margin: auto;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .promociones .slider {
    width: 100%;
  }
}
.promociones .slider ul {
  width: 300%;
  display: flex;
  margin-top: 0;
  padding: 0;
  animation: cambio 20s infinite;
  animation-direction: alternate;
}
.promociones .slider ul li {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  list-style: none;
}
.promociones .slider ul li div {
  display: flex;
  flex-flow: row wrap;
}
.promociones .slider ul li div img {
  width: 16.75rem;
  border-radius: 1.5rem;
}
@media screen and (max-width: 576px) {
  .promociones .slider ul li div img {
    width: 12.5rem;
    border-radius: 1.25rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .promociones .slider ul li div img {
    width: 9.5rem;
    border-radius: 1.25rem;
  }
}
.promociones .slider ul li div .precio {
  border-radius: 6px;
  color: white;
  background-color: #4E63D4;
  font-weight: 600;
  font-size: 24px;
  width: 52%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.5rem;
  margin-left: 5.75rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 576px) {
  .promociones .slider ul li div .precio {
    margin-left: 3.75rem;
    font-weight: 600;
    font-size: 20px;
    width: 8rem;
    height: 2.75rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .promociones .slider ul li div .precio {
    margin-left: 3.75rem;
    font-weight: 600;
    font-size: 16px;
    width: 6rem;
    height: 2.5rem;
  }
}
.promociones .slider ul li div .precio:hover {
  transform: scale(1.2);
  transition: all 300ms ease-out;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
}
.promociones .slider ul li div h4 {
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  margin: 0;
}
.promociones .slider ul li div h5 {
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}
@media screen and (max-width: 576px) {
  .promociones .slider ul li div h5 {
    margin-bottom: 0.5rem;
  }
}
.promociones .slider ul li div .cantidad-lugares {
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  color: #757272;
  margin-top: 0;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  35% {
    margin-left: -100%;
  }
  60% {
    margin-left: -100%;
  }
  65% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
/*Fin Promociones*/
/*Inicio Excursiones*/
.excursiones {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-bottom: 9.25rem;
}
@media screen and (max-width: 576px) {
  .excursiones {
    display: flex;
    flex-flow: column-reverse wrap;
    margin-bottom: 3.75rem;
  }
}
.excursiones .slide {
  position: relative;
  width: 60%;
}
@media screen and (max-width: 576px) {
  .excursiones .slide {
    width: 100%;
  }
}
.excursiones .slide .slide-inner {
  position: relative;
  overflow: hidden;
}
.excursiones .slide .slide-inner .slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.excursiones .slide .slide-inner .slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.excursiones .slide .slide-inner .slide-item img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  display: block;
  max-width: 100%;
}
.excursiones .slide .slide-inner .slide-item h5 {
  font-weight: 500;
  font-size: 16px;
  margin: 0.5rem 0 0.5rem 0;
}
.excursiones .slide .slide-inner .slide-item button {
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #4E63D4;
  width: 35%;
  height: 3rem;
  font-weight: 600;
  font-size: 24px;
  margin-left: 32%;
}
.excursiones .slide .slide-inner .slide-item button:hover {
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
  transition: all 250ms ease-out;
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .excursiones .slide .slide-inner .slide-item button {
    width: 50%;
    height: 2.5rem;
    font-weight: 600;
    font-size: 20px;
    margin-left: 25%;
  }
}
.excursiones .slide .slide-inner .slide-control {
  border-radius: 50%;
  border: none;
  color: white;
  background-color: #2929292d;
  cursor: pointer;
  display: none;
  font-weight: 600;
  font-size: 40px;
  line-height: 35px;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 40%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.excursiones .slide .slide-inner .slide-control:hover {
  background: #2929292d;
  color: #EEEBEB;
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .excursiones .slide .slide-inner .slide-control {
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 30%;
  }
}
.excursiones .slide .slide-inner .prev {
  left: 2%;
}
.excursiones .slide .slide-inner .next {
  right: 2%;
}
.excursiones .contenedor-titulo {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
.excursiones .contenedor-titulo h3 {
  font-weight: 700;
  font-size: 32px;
  text-align: right;
  margin: 0;
  width: 80%;
}
@media screen and (max-width: 576px) {
  .excursiones .contenedor-titulo h3 {
    width: 80%;
    font-weight: 700;
    font-size: 28px;
    text-align: right;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .excursiones .contenedor-titulo h3 {
    font-weight: 700;
    font-size: 28px;
    width: 100%;
  }
}
.excursiones .contenedor-titulo h4 {
  font-weight: 400;
  font-size: 20px;
  text-align: right;
  color: #757272;
  width: 80%;
}
@media screen and (max-width: 576px) {
  .excursiones .contenedor-titulo h4 {
    width: 90%;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .excursiones .contenedor-titulo h4 {
    width: 90%;
    font-weight: 400;
    font-size: 18px;
  }
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4,
#slide-5:checked ~ .control-5,
#slide-6:checked ~ .control-6 {
  display: block;
}

/*Fin Excursiones*/
/*Inicio Sobre nosotros*/
.contenedor-nosotros {
  display: flex;
  flex-flow: row nowrap;
  width: 80%;
  margin: auto;
  margin-bottom: 9.25rem;
}
@media screen and (max-width: 576px) {
  .contenedor-nosotros {
    margin-bottom: 3.75rem;
    display: flex;
    flex-flow: column wrap;
  }
}
.contenedor-nosotros .titulo-nosotros {
  padding-right: 1.25rem;
}
.contenedor-nosotros div {
  width: 50%;
}
@media screen and (max-width: 576px) {
  .contenedor-nosotros div {
    width: 100%;
  }
}
.contenedor-nosotros div h3 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 0;
}
@media screen and (max-width: 576px) {
  .contenedor-nosotros div h3 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 28px;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .contenedor-nosotros div h3 {
    font-weight: 700;
    font-size: 28px;
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
.contenedor-nosotros div p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #757272;
  width: 90%;
}
@media screen and (max-width: 576px) {
  .contenedor-nosotros div p {
    margin: 0;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .contenedor-nosotros div p {
    width: 90%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}
.contenedor-nosotros div .imagen-equipo {
  width: 100%;
  border-radius: 30px;
}
@media screen and (max-width: 576px) {
  .contenedor-nosotros div .imagen-equipo {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .contenedor-nosotros div .imagen-equipo {
    border-radius: 1.25rem;
  }
}

/*Fin Sobre nosotros*/
/*Inicio Beneficios*/
.beneficios {
  margin: auto;
  margin-bottom: 9.25rem;
}
@media screen and (max-width: 576px) {
  .beneficios {
    margin-bottom: 3.75rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.beneficios h3 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
  .beneficios h3 {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .beneficios h3 {
    font-weight: 700;
    font-size: 28px;
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
.beneficios h4 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #757272;
  width: 60%;
  margin: auto;
  margin-bottom: 4.5rem;
}
@media screen and (max-width: 576px) {
  .beneficios h4 {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    width: 50%;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .beneficios h4 {
    width: 90%;
    font-weight: 400;
    font-size: 18px;
  }
}
.beneficios .contenedor-beneficios {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 4.5rem;
}
@media screen and (max-width: 576px) {
  .beneficios .contenedor-beneficios {
    margin-bottom: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .beneficios .contenedor-beneficios {
    margin-bottom: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
}
.beneficios .contenedor-beneficios .beneficios-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #CEEBF1;
  width: 30%;
  border-radius: 1rem;
  margin: auto;
  margin: 0 2.5rem 0 0;
}
@media screen and (max-width: 576px) {
  .beneficios .contenedor-beneficios .beneficios-card {
    margin: 0 2.5rem 1.5rem 0;
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .beneficios .contenedor-beneficios .beneficios-card {
    width: 100%;
    margin: 0 2.5rem 1.5rem 0;
  }
}
.beneficios .contenedor-beneficios .beneficios-card:hover {
  transform: scale(1.1);
  transition: all 300ms ease-out;
}
.beneficios .contenedor-beneficios .beneficios-card h5 {
  display: flex;
  margin: 1rem 2.5rem 1.25rem 1.25rem;
  font-weight: 600;
  font-size: 20px;
}
@media screen and (max-width: 576px) {
  .beneficios .contenedor-beneficios .beneficios-card h5 {
    font-weight: 600;
    font-size: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .beneficios .contenedor-beneficios .beneficios-card h5 {
    font-weight: 600;
    font-size: 20px;
  }
}
.beneficios .contenedor-beneficios .beneficios-card img {
  width: 32px;
  margin-right: 1rem;
}
.beneficios .contenedor-beneficios .beneficios-card .parrafo-card-beneficios {
  color: #757272;
  margin: 0 2.5rem 1.25rem 1.25rem;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .beneficios .contenedor-beneficios .beneficios-card .parrafo-card-beneficios {
    font-weight: 400;
    font-size: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .beneficios .contenedor-beneficios .beneficios-card .parrafo-card-beneficios {
    font-weight: 400;
    font-size: 16px;
  }
}
.beneficios .parrafo-inferior-beneficios {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  width: 70%;
  margin: auto;
  color: #757272;
}
@media screen and (max-width: 576px) {
  .beneficios .parrafo-inferior-beneficios {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    width: 70%;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .beneficios .parrafo-inferior-beneficios {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 80%;
  }
}

/*Fin Beneficios*/
/*Inicio Medios de pago*/
.medios-de-pago {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 9.25rem;
}
@media screen and (max-width: 576px) {
  .medios-de-pago {
    margin-bottom: 3.75rem;
  }
}
.medios-de-pago h3 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .medios-de-pago h3 {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .medios-de-pago h3 {
    font-weight: 700;
    font-size: 28px;
    width: 100%;
    margin-bottom: 8px;
  }
}
.medios-de-pago h4 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #757272;
  width: 100%;
  margin: auto;
  margin-bottom: 4.5rem;
}
@media screen and (max-width: 576px) {
  .medios-de-pago h4 {
    width: 64%;
    margin-bottom: 2.5rem;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .medios-de-pago h4 {
    width: 90%;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 2.5rem;
  }
}
.medios-de-pago div {
  border-radius: 15px;
  border: 4px solid #CEEBF1;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 12rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 576px) {
  .medios-de-pago div {
    width: 11rem;
    height: 8rem;
    border: 3px solid #CEEBF1;
  }
}
.medios-de-pago div:hover {
  transform: scale(1.1);
  transition: all 300ms ease-out;
  border: 0.25rem solid #4E63D4;
  background-color: #ceebf198;
}
.medios-de-pago div h5 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
  margin-top: 0;
}
@media screen and (max-width: 576px) {
  .medios-de-pago div h5 {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .medios-de-pago div h5 {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
  }
}
.medios-de-pago div .logo-transferencia {
  width: 5.25rem;
  display: flex;
  flex-flow: row nowrap;
}
@media screen and (max-width: 576px) {
  .medios-de-pago div .logo-transferencia {
    width: 4rem;
  }
}
.medios-de-pago div .logo-mercadopago {
  width: 13.5rem;
  display: flex;
  flex-flow: row nowrap;
}
@media screen and (max-width: 576px) {
  .medios-de-pago div .logo-mercadopago {
    width: 7.75rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .medios-de-pago div .logo-mercadopago {
    width: 12.75rem;
  }
}
.medios-de-pago div .logo-mastercard {
  width: 5.25rem;
  display: flex;
  flex-flow: row nowrap;
}
@media screen and (max-width: 576px) {
  .medios-de-pago div .logo-mastercard {
    width: 3.5rem;
  }
}
.medios-de-pago div .logo-visa {
  width: 7.75rem;
  display: flex;
  flex-flow: row nowrap;
}
@media screen and (max-width: 576px) {
  .medios-de-pago div .logo-visa {
    width: 4.5rem;
  }
}
.medios-de-pago div .logo-pago-facil {
  width: 5rem;
  display: flex;
  flex-flow: row nowrap;
}
@media screen and (max-width: 576px) {
  .medios-de-pago div .logo-pago-facil {
    width: 3rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .medios-de-pago div .logo-pago-facil {
    width: 4rem;
  }
}
.medios-de-pago div .logo-rapipago {
  width: 10.75rem;
  display: flex;
  flex-flow: row nowrap;
}
@media screen and (max-width: 576px) {
  .medios-de-pago div .logo-rapipago {
    width: 6rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .medios-de-pago div .logo-rapipago {
    width: 9rem;
  }
}

/*Fin Medios de pago*/
/*Inicio Footer*/
footer {
  background-color: #CEEBF1;
  width: 100%;
  margin-left: 0;
}
footer div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
@media screen and (max-width: 576px) {
  footer div {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}
footer div .section-email {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
@media screen and (max-width: 576px) {
  footer div .section-email {
    margin-top: 1.25rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  footer div .section-email {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 576px) {
  footer div .section-email h3 {
    display: none;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  footer div .section-email h3 {
    display: none;
  }
}
footer div .section-email img {
  display: flex;
  flex-flow: row wrap;
  margin-right: 0.5rem;
  width: 3rem;
  height: 3rem;
}
footer div .section-email label {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5rem;
  width: 56%;
  display: flex;
  flex-flow: row wrap;
}
@media screen and (max-width: 576px) {
  footer div .section-email label {
    width: 70%;
    font-weight: 700;
    font-size: 20px;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  footer div .section-email label {
    width: 70%;
    font-weight: 700;
    font-size: 20px;
  }
}
footer div .section-email input {
  border-radius: 5px;
  border: 1px solid #757272;
  color: #757272;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  height: 2.5rem;
  margin: 1.25rem 0 0.75rem 0;
  padding-left: 1rem;
}
@media screen and (max-width: 576px) {
  footer div .section-email input {
    width: 20.5rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  footer div .section-email input {
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    height: 2rem;
  }
}
footer div .section-email button {
  border-radius: 5px;
  border: 2px solid #4E63D4;
  color: #4E63D4;
  background-color: #CEEBF1;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  height: 3rem;
}
@media screen and (max-width: 576px) {
  footer div .section-email button {
    width: 21.75rem;
    height: 3rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  footer div .section-email button {
    width: 100%;
    height: 2.5rem;
  }
}
footer div .section-email button:hover {
  border: 2px solid #4E63D4;
  color: white;
  background-color: #4E63D4;
  transition: all 300ms ease-out;
}
footer div section {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 26%;
}
@media screen and (max-width: 576px) {
  footer div section {
    width: 70%;
    margin: auto;
  }
}
footer div section .contacto {
  margin-top: 1.25rem;
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  footer div section .contacto {
    margin-top: 0;
  }
}
footer div section .contacto ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 0;
  margin-top: 8px;
}
footer div section .contacto ul li {
  list-style-type: none;
}
@media screen and (max-width: 576px) {
  footer div section .contacto ul li {
    font-weight: 400;
    font-size: 14px;
  }
}
footer div section .contacto ul li a {
  color: #292929;
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  footer div section .contacto ul li a {
    font-weight: 400;
    font-size: 14px;
  }
}
footer div section .contacto h3 {
  font-weight: 700;
  font-size: 32px;
}
footer div section .contacto h4 {
  font-weight: 700;
  font-size: 20px;
  text-align: left;
}
@media screen and (max-width: 576px) {
  footer div section .contacto h4 {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  footer div section .contacto h4 {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
  }
}
footer div section .redes {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
footer div section .redes .conjunto-iconos-redes {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  footer div section .redes .conjunto-iconos-redes {
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  footer div section .redes .conjunto-iconos-redes {
    margin-top: 0;
  }
}
footer div section .redes h4 {
  font-weight: 700;
  font-size: 20px;
}
@media screen and (max-width: 576px) {
  footer div section .redes h4 {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  footer div section .redes h4 {
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    margin-bottom: 0;
  }
}
footer div section h3 {
  font-weight: 700;
  font-size: 32px;
}
footer div section ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 0;
}
footer div section ul li {
  list-style-type: none;
}
footer div section ul li a {
  color: #292929;
  text-decoration: none;
}
footer .copyright {
  text-align: center;
}
@media screen and (max-width: 576px) {
  footer .copyright {
    width: 18rem;
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: 1.5rem;
  }
}

/*Fin Footer*/
/*Inicio Body*/
body {
  font-family: "Poppins", sans-serif;
  color: #292929;
  background-color: #FDFDFD;
}

/*Fin Body*/
/*Inicio página registro*/
.registro-iniciosesion {
  background-color: #CEEBF1;
}
.registro-iniciosesion .menu-contenedor {
  width: 100%;
  height: 4rem;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.registro-iniciosesion .menu-contenedor .header-contenedor {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% 0 3%;
}
.registro-iniciosesion .menu-contenedor .header-contenedor .nav-ayuda {
  width: 50%;
  margin-left: 61.25rem;
}
.registro-iniciosesion .menu-contenedor .header-contenedor .nav-ayuda li {
  list-style-type: none;
}
.registro-iniciosesion .menu-contenedor .header-contenedor .nav-ayuda li a {
  color: #757272;
  text-decoration: none;
}
.registro-iniciosesion section {
  width: 95%;
  height: 47.25rem;
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  margin: auto;
  margin-top: 7.25rem;
  margin-bottom: 4.25rem;
  border-radius: 30px;
  z-index: 0;
}
@media screen and (max-width: 576px) {
  .registro-iniciosesion section {
    width: 23.25rem;
    height: 91.5rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .registro-iniciosesion section {
    width: 44.25rem;
    height: 65.5rem;
    display: flex;
    flex-flow: column wrap;
  }
}
.registro-iniciosesion section .registro-contenedor-small {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 50%;
  height: 47.25rem;
  border-radius: 30px;
  box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 576px) {
  .registro-iniciosesion section .registro-contenedor-small {
    width: 23.25rem;
    height: 17.5rem;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .registro-iniciosesion section .registro-contenedor-small {
    width: 44.25rem;
    height: 17.5rem;
  }
}
.registro-iniciosesion section .registro-contenedor-small h1 {
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  margin-top: 2.75rem;
}
@media screen and (max-width: 576px) {
  .registro-iniciosesion section .registro-contenedor-small h1 {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .registro-iniciosesion section .registro-contenedor-small h1 {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    margin-top: 1rem;
  }
}
.registro-iniciosesion section .registro-contenedor-small img {
  margin: auto;
  width: 33.25rem;
}
@media screen and (max-width: 576px) {
  .registro-iniciosesion section .registro-contenedor-small img {
    width: 10.75rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .registro-iniciosesion section .registro-contenedor-small img {
    width: 10.75rem;
  }
}
.registro-iniciosesion section .contenedor-de-formulario {
  width: 34.25rem;
  height: 42rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  margin-top: 1.5rem;
}
@media screen and (max-width: 576px) {
  .registro-iniciosesion section .contenedor-de-formulario {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 21.25rem;
    height: 73rem;
  }
}
.registro-iniciosesion section .contenedor-de-formulario .formulario {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.registro-iniciosesion section .contenedor-de-formulario .formulario label {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0.75rem;
}
@media screen and (max-width: 576px) {
  .registro-iniciosesion section .contenedor-de-formulario .formulario label {
    width: 20.5rem;
  }
}
.registro-iniciosesion section .contenedor-de-formulario .formulario input {
  border-radius: 12px;
  border: none;
  color: #757272;
  background-color: #EDF4F9;
  width: 15.25rem;
  height: 3rem;
  font-weight: 400;
  font-size: 14px;
  padding-left: 0.5rem;
}
.registro-iniciosesion section .contenedor-de-formulario .formulario input:focus {
  border: 1px solid #4E63D4;
}
@media screen and (max-width: 576px) {
  .registro-iniciosesion section .contenedor-de-formulario .formulario input {
    width: 20.5rem;
    height: 3rem;
  }
}
.registro-iniciosesion section .contenedor-de-formulario .formulario p {
  font-weight: 400;
  font-size: 14px;
  width: 15.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0;
  color: #757272;
}
@media screen and (max-width: 576px) {
  .registro-iniciosesion section .contenedor-de-formulario .formulario p {
    width: 20.5rem;
    margin-bottom: 0;
  }
}
.registro-iniciosesion section .contenedor-de-formulario button {
  width: 32.25rem;
  height: 3rem;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #4E63D4;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75rem;
}
.registro-iniciosesion section .contenedor-de-formulario button:hover {
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
  transition: all 250ms ease-out;
}
@media screen and (max-width: 576px) {
  .registro-iniciosesion section .contenedor-de-formulario button {
    width: 20rem;
    height: 3.25rem;
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 0.5rem;
  }
}
.registro-iniciosesion section .contenedor-de-formulario a {
  text-decoration: none;
}
.registro-iniciosesion section .contenedor-de-formulario a .contenedor-facebook {
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #395185;
  font-weight: 500;
  font-size: 20px;
  width: 32.25rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75rem;
}
.registro-iniciosesion section .contenedor-de-formulario a .contenedor-facebook:hover {
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
  transition: all 250ms ease-out;
}
.registro-iniciosesion section .contenedor-de-formulario a .contenedor-facebook span {
  margin-left: 0.75rem;
}
@media screen and (max-width: 576px) {
  .registro-iniciosesion section .contenedor-de-formulario a .contenedor-facebook {
    width: 20rem;
    height: 3.25rem;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 0.5rem;
  }
}
.registro-iniciosesion section .contenedor-de-formulario a .contenedor-google {
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #F15744;
  font-weight: 500;
  font-size: 20px;
  width: 32.25rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75rem;
}
.registro-iniciosesion section .contenedor-de-formulario a .contenedor-google:hover {
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
  transition: all 250ms ease-out;
}
.registro-iniciosesion section .contenedor-de-formulario a .contenedor-google span {
  margin-left: 0.75rem;
}
@media screen and (max-width: 576px) {
  .registro-iniciosesion section .contenedor-de-formulario a .contenedor-google {
    width: 20rem;
    height: 3.25rem;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 1rem;
  }
}
.registro-iniciosesion section .contenedor-de-formulario .parrafos-inferiores-formulario {
  text-align: center;
  color: #757272;
}
@media screen and (max-width: 576px) {
  .registro-iniciosesion section .contenedor-de-formulario .parrafos-inferiores-formulario {
    font-weight: 400;
    font-size: 14px;
  }
}
.registro-iniciosesion section .contenedor-de-formulario .parrafos-inferiores-formulario p {
  margin: 0;
}
@media screen and (max-width: 576px) {
  .registro-iniciosesion section .contenedor-de-formulario .parrafos-inferiores-formulario p {
    margin-bottom: 0.5rem;
  }
}
.registro-iniciosesion section .contenedor-de-formulario .parrafos-inferiores-formulario p a {
  margin-left: 0.5rem;
}
.registro-iniciosesion section .contenedor-de-formulario .parrafos-inferiores-formulario p a:hover {
  text-decoration: underline;
}
.registro-iniciosesion footer {
  width: 100%;
  height: 3.25rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0;
}
.registro-iniciosesion footer p {
  color: #757272;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .registro-iniciosesion footer p {
    font-weight: 400;
    font-size: 14px;
    width: 19rem;
  }
}
.registro-iniciosesion footer p b {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

/*404*/
.menu-contenedor {
  width: 100%;
  height: 4rem;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu-contenedor .header-contenedor {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% 0 3%;
}
.menu-contenedor .header-contenedor .nav-ayuda {
  width: 50%;
  margin-left: 61.25rem;
}
.menu-contenedor .header-contenedor .nav-ayuda li {
  list-style-type: none;
}
.menu-contenedor .header-contenedor .nav-ayuda li a {
  color: #757272;
  text-decoration: none;
}

.background-404 {
  background-color: white;
}

.not-found-contenedor {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.not-found-contenedor img {
  width: 38%;
  margin: auto;
  margin-top: 4.25rem;
}
@media screen and (max-width: 576px) {
  .not-found-contenedor img {
    width: 70%;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .not-found-contenedor img {
    width: 50%;
  }
}
.not-found-contenedor h1 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin: 0.75rem 0 0.75rem 0;
}
@media screen and (max-width: 576px) {
  .not-found-contenedor h1 {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 1rem 0 1rem 0;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .not-found-contenedor h1 {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin: 1rem 0 1rem 0;
  }
}
.not-found-contenedor button {
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #4E63D4;
  width: 13.75rem;
  height: 2.5rem;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}
.not-found-contenedor button:hover {
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
  transition: all 250ms ease-out;
}
.not-found-contenedor button a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 576px) {
  .not-found-contenedor button {
    width: 10.75rem;
    height: 2.5rem;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 967px) {
  .not-found-contenedor button {
    width: 12.75rem;
    height: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
