@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@400;500;600;700&family=Trocchi&display=swap");
/*Inicio Header*/
header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (min-width: 969px) {
  header {
    height: 4rem;
  }
  header .menu-desplegable {
    display: none;
  }
}
header nav {
  padding: 0 3% 0 3%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  width: 56%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  font-weight: 400;
  font-size: 16px;
  color: #757272;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #4E63D4;
  font-weight: 600;
  transition: all 300ms linear;
  background-color: #ceebf198;
  padding: 8px 16px;
  border-radius: 6px;
}

.registro {
  border-radius: 8px;
  border: 2px solid #4E63D4;
  color: #4E63D4;
  padding: 8px 12px;
  font-weight: 500;
}
.registro:hover {
  border: 2px solid #4E63D4;
  color: white;
  background-color: #4E63D4;
  transition: all 300ms ease-out;
}

/*Fin Header*/
/*Inicio Home*/
.home-contenedor {
  background-color: #CEEBF1;
  width: 96%;
  height: 40rem;
  border-radius: 40px;
  margin: auto;
  margin-top: 4.25rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.home-contenedor h1 {
  width: 56%;
  font-weight: 700;
  font-size: 96px;
  line-height: 120px;
  margin-bottom: 0.5rem;
  margin-right: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 3.75rem;
}
.home-contenedor img {
  border-radius: 20px;
  margin-top: 5rem;
}
.home-contenedor h2 {
  font-weight: 500;
  font-size: 42px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: -7.5rem;
  margin-left: -23rem;
}

.buscador-contenedor {
  background-color: #f9f9f9be;
  position: relative;
  top: -6rem;
  border-radius: 20px;
  margin: auto;
  width: 78%;
  height: 12rem;
  box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 9.25rem;
}
.buscador-contenedor .definir-detalles {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 969px) {
  .buscador-contenedor .definir-detalles div button {
    display: none;
  }
}
.buscador-contenedor .definir-detalles .secciones-buscador {
  display: inline-block;
  padding: 0 1rem 0 1rem;
}
.buscador-contenedor .definir-detalles .secciones-buscador .button-search {
  border-radius: 12px;
  background-color: #4E63D4;
  width: 4rem;
  height: 7rem;
}
.buscador-contenedor .definir-detalles .secciones-buscador .button-search:hover {
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
  transform: scale(1.2);
  transition: all 250ms ease-out;
}
.buscador-contenedor .definir-detalles .secciones-buscador .formularios-buscador {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.buscador-contenedor .definir-detalles .secciones-buscador .formularios-buscador img {
  margin-right: 8px;
}
.buscador-contenedor .definir-detalles .secciones-buscador .formularios-buscador label {
  font-weight: 700;
  font-size: 24px;
}
.buscador-contenedor .definir-detalles .secciones-buscador div input {
  border-radius: 12px;
  border: none;
  color: #494747;
  background-color: #EEEBEB;
  font-weight: 400;
  font-size: 14px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.13);
  width: 100%;
  height: 2.5rem;
}
.buscador-contenedor .definir-detalles .secciones-buscador .vertical-line {
  border-left: 1px solid #757272;
}

/*Fin Home*/
/*Inicio Promociones*/
.promociones {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-bottom: 9.25rem;
}
.promociones .contenedor-titulo {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}
.promociones .contenedor-titulo h3 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  width: 80%;
}
.promociones .contenedor-titulo h4 {
  font-weight: 400;
  font-size: 20px;
  color: #757272;
  width: 60%;
}
.promociones .contenedor-destinos {
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
}
.promociones .contenedor-destinos .destinos-carrousel {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
.promociones .contenedor-destinos .destinos-carrousel img {
  width: 90%;
  border-radius: 25px;
}
.promociones .contenedor-destinos .destinos-carrousel div .precio {
  border-radius: 6px;
  color: white;
  background-color: #4E63D4;
  font-weight: 600;
  font-size: 24px;
  width: 52%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.5rem;
  margin-left: 5.75rem;
  margin-bottom: 1.5rem;
}
.promociones .contenedor-destinos .destinos-carrousel div .precio:hover {
  transform: scale(1.2);
  transition: all 300ms ease-out;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
}
.promociones .contenedor-destinos .destinos-carrousel div h4 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0.5rem;
}
.promociones .contenedor-destinos .destinos-carrousel div h5 {
  font-weight: 500;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0.75rem;
}
.promociones .contenedor-destinos .destinos-carrousel div .cantidad-lugares {
  font-weight: 400;
  font-size: 14px;
  color: #757272;
  margin-top: 0;
}

/*Fin Promociones*/
/*Inicio Excursiones*/
.excursiones {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-bottom: 9.25rem;
}
.excursiones .slide {
  position: relative;
  width: 60%;
}
.excursiones .slide .slide-inner {
  position: relative;
  overflow: hidden;
}
.excursiones .slide .slide-inner .slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.excursiones .slide .slide-inner .slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.excursiones .slide .slide-inner .slide-item img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  display: block;
  max-width: 100%;
}
.excursiones .slide .slide-inner .slide-item h5 {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}
.excursiones .slide .slide-inner .slide-item button {
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #4E63D4;
  width: 35%;
  height: 3rem;
  font-weight: 600;
  font-size: 24px;
  margin-left: 32%;
}
.excursiones .slide .slide-inner .slide-item button:hover {
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
  transition: all 250ms ease-out;
}
.excursiones .slide .slide-inner .slide-control {
  border-radius: 50%;
  border: none;
  color: white;
  background-color: #2929292d;
  cursor: pointer;
  display: none;
  font-weight: 600;
  font-size: 40px;
  line-height: 35px;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 50%;
  z-index: 10;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.excursiones .slide .slide-inner .slide-control:hover {
  background: #2929292d;
  color: #EEEBEB;
}
.excursiones .slide .slide-inner .prev {
  left: 2%;
}
.excursiones .slide .slide-inner .next {
  right: 2%;
}
.excursiones .contenedor-titulo {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
.excursiones .contenedor-titulo h3 {
  font-weight: 700;
  font-size: 32px;
  text-align: right;
  margin: 0;
  width: 80%;
}
.excursiones .contenedor-titulo h4 {
  font-weight: 400;
  font-size: 20px;
  text-align: right;
  color: #757272;
  width: 80%;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4,
#slide-5:checked ~ .control-5,
#slide-6:checked ~ .control-6 {
  display: block;
}

/*Fin Excursiones*/
/*Inicio Sobre nosotros*/
.contenedor-nosotros {
  display: flex;
  flex-flow: row nowrap;
  width: 80%;
  margin: auto;
  margin-bottom: 9.25rem;
}
.contenedor-nosotros .titulo-nosotros {
  padding-right: 1.25rem;
}
.contenedor-nosotros div {
  width: 50%;
}
.contenedor-nosotros div h3 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 0;
}
.contenedor-nosotros div p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #757272;
  width: 90%;
}
.contenedor-nosotros div .imagen-equipo {
  width: 100%;
  border-radius: 30px;
}

/*Fin Sobre nosotros*/
/*Inicio Beneficios*/
.beneficios {
  margin: auto;
  margin-bottom: 9.25rem;
}
.beneficios h3 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
}
.beneficios h4 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #757272;
  width: 60%;
  margin: auto;
  margin-bottom: 4.5rem;
}
.beneficios .contenedor-beneficios {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 4.5rem;
}
.beneficios .contenedor-beneficios .beneficios-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #CEEBF1;
  width: 30%;
  border-radius: 15px;
  margin: auto;
  margin: 0 2.5rem 0 0;
}
.beneficios .contenedor-beneficios .beneficios-card:hover {
  transform: scale(1.1);
  transition: all 300ms ease-out;
}
.beneficios .contenedor-beneficios .beneficios-card h5 {
  display: flex;
  margin: 1rem 2.5rem 1.25rem 1.25rem;
  font-weight: 600;
  font-size: 20px;
}
.beneficios .contenedor-beneficios .beneficios-card img {
  width: 32px;
  margin-right: 1rem;
}
.beneficios .contenedor-beneficios .beneficios-card .parrafo-card-beneficios {
  color: #757272;
  margin: 0 2.5rem 1.25rem 1.25rem;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.beneficios .parrafo-inferior-beneficios {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  width: 70%;
  margin: auto;
  color: #757272;
}

/*Fin Beneficios*/
/*Inicio Medios de pago*/
.medios-de-pago {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 9.25rem;
}
.medios-de-pago h3 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  width: 100%;
}
.medios-de-pago h4 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #757272;
  width: 100%;
  margin: auto;
  margin-bottom: 4.5rem;
}
.medios-de-pago div {
  background-color: white;
  border: 4px solid #CEEBF1;
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 12rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}
.medios-de-pago div:hover {
  transform: scale(1.1);
  transition: all 300ms ease-out;
  border: 4px solid #4E63D4;
  background-color: #ceebf198;
}
.medios-de-pago div h5 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 1rem;
  width: 21.75rem;
  margin-top: 0;
}
.medios-de-pago div .logo-transferencia {
  width: 5.25rem;
  display: flex;
  flex-flow: row nowrap;
}
.medios-de-pago div .logo-mercadopago {
  width: 13.5rem;
  display: flex;
  flex-flow: row nowrap;
}
.medios-de-pago div .logo-mastercard {
  width: 5.25rem;
  display: flex;
  flex-flow: row nowrap;
}
.medios-de-pago div .logo-visa {
  width: 7.75rem;
  display: flex;
  flex-flow: row nowrap;
}
.medios-de-pago div .logo-pago-facil {
  width: 5rem;
  display: flex;
  flex-flow: row nowrap;
}
.medios-de-pago div .logo-rapipago {
  width: 10.75rem;
  display: flex;
  flex-flow: row nowrap;
}

/*Fin Medios de pago*/
/*Inicio Footer*/
footer {
  background-color: #CEEBF1;
  width: 100%;
}
@media screen and (min-width: 60.5rem) {
  footer {
    height: 24.25rem;
  }
  footer hr {
    display: none;
  }
}
footer div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
footer div .section-email {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
footer div .section-email img {
  display: flex;
  flex-flow: row wrap;
  margin-right: 0.5rem;
}
footer div .section-email label {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5rem;
  width: 56%;
  display: flex;
  flex-flow: row wrap;
}
footer div .section-email input {
  border-radius: 5px;
  border: 1px solid #757272;
  color: #757272;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  height: 2.5rem;
  margin: 1.25rem 0 0.75rem 0;
}
footer div .section-email button {
  border-radius: 5px;
  border: 2px solid #4E63D4;
  color: #4E63D4;
  background-color: #CEEBF1;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  height: 3rem;
}
footer div .section-email button:hover {
  border: 2px solid #4E63D4;
  color: white;
  background-color: #4E63D4;
  transition: all 300ms ease-out;
}
footer div section {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 26%;
}
footer div section nav ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 0;
}
footer div section nav ul li {
  list-style-type: none;
}
footer div section nav ul li a {
  color: #292929;
  text-decoration: none;
}
footer div section nav .conjunto-iconos-redes {
  width: 75%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
footer div section h3 {
  font-weight: 700;
  font-size: 32px;
}
footer div section h4 {
  font-weight: 700;
  font-size: 20px;
}
footer .copyright {
  text-align: center;
}

/*Fin Footer*/
/*Inicio Body*/
body {
  font-family: "Poppins", sans-serif;
  color: #292929;
  background-color: #FDFDFD;
}

/*Fin Body*/
/*Inicio página registro*/
.registro-iniciosesion {
  background-color: #CEEBF1;
}
.registro-iniciosesion .menu-contenedor {
  width: 100%;
  height: 4rem;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.registro-iniciosesion .menu-contenedor .header-contenedor .nav-ayuda {
  margin-left: 61.25rem;
  width: 50%;
}
.registro-iniciosesion section {
  width: 95%;
  height: 44.25rem;
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  margin: auto;
  margin-top: 7.25rem;
  margin-bottom: 4.25rem;
  border-radius: 30px;
  z-index: 0;
}
.registro-iniciosesion section .registro-contenedor-small {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 50%;
  height: 44.25rem;
  border-radius: 30px;
  box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.25);
}
.registro-iniciosesion section .registro-contenedor-small h1 {
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  margin-top: 2.75rem;
}
.registro-iniciosesion section .registro-contenedor-small img {
  margin: auto;
  width: 33.25rem;
}
.registro-iniciosesion section .contenedor-de-formulario {
  width: 32.25rem;
  height: 42rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  margin-top: 1.5rem;
}
.registro-iniciosesion section .contenedor-de-formulario .formulario {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
.registro-iniciosesion section .contenedor-de-formulario .formulario label {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0.75rem;
}
.registro-iniciosesion section .contenedor-de-formulario .formulario input {
  border-radius: 12px;
  border: none;
  color: #757272;
  background-color: #EDF4F9;
  width: 15.25rem;
  height: 3rem;
  font-weight: 400;
  font-size: 14px;
}
.registro-iniciosesion section .contenedor-de-formulario .formulario p {
  font-weight: 400;
  font-size: 14px;
  width: 15.25rem;
  margin-top: 0.75rem;
  color: #757272;
}
.registro-iniciosesion section .contenedor-de-formulario button {
  width: 32.25rem;
  height: 3rem;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #4E63D4;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.registro-iniciosesion section .contenedor-de-formulario button:hover {
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
  transition: all 250ms ease-out;
}
.registro-iniciosesion section .contenedor-de-formulario a {
  text-decoration: none;
}
.registro-iniciosesion section .contenedor-de-formulario a .contenedor-facebook {
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #395185;
  font-weight: 500;
  font-size: 20px;
  width: 32.25rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registro-iniciosesion section .contenedor-de-formulario a .contenedor-facebook:hover {
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
  transition: all 250ms ease-out;
}
.registro-iniciosesion section .contenedor-de-formulario a .contenedor-facebook span {
  margin-left: 0.75rem;
}
.registro-iniciosesion section .contenedor-de-formulario a .contenedor-google {
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #F15744;
  font-weight: 500;
  font-size: 20px;
  width: 32.25rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registro-iniciosesion section .contenedor-de-formulario a .contenedor-google:hover {
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
  transition: all 250ms ease-out;
}
.registro-iniciosesion section .contenedor-de-formulario a .contenedor-google span {
  margin-left: 0.75rem;
}
.registro-iniciosesion section .contenedor-de-formulario .parrafos-inferiores-formulario {
  text-align: center;
  color: #757272;
}
.registro-iniciosesion section .contenedor-de-formulario .parrafos-inferiores-formulario p {
  margin: 0;
}
.registro-iniciosesion section .contenedor-de-formulario .parrafos-inferiores-formulario p a {
  margin-left: 0.5rem;
}
.registro-iniciosesion section .contenedor-de-formulario .parrafos-inferiores-formulario p a:hover {
  text-decoration: underline;
}
.registro-iniciosesion footer {
  width: 100%;
  height: 52px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0;
}
.registro-iniciosesion footer p {
  color: #757272;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.registro-iniciosesion footer p b {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */