@mixin textos($weight, $size, $line, $text) {
    font-weight: $weight;
    font-size: $size;
    line-height: $line;
    text-align: $text;
}

@mixin botones($radius, $border, $color, $padding, $bg-color) {
    border-radius: $radius;
    border: $border;
    color: $color;
    padding: $padding;
    background-color: $bg-color;
}

@mixin display($display, $flex-flow, $justify, $align) {
    display: $display;
    flex-flow: $flex-flow;
    justify-content: $justify;
    align-items: $align;
}

@mixin tamaño($width, $height) {
    width: $width;
    height: $height;
}