<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airvion - Ups! Tu cohete se perdió</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/img/icon-airvion.ico" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body class="background-404">
    <header class="menu-contenedor">
        <nav class="header-contenedor">
            <a href="../../index.html"><img src="../assets/svg/logo-airvion.svg" alt="airvion-logo" height="50px"></a>
            <ul class="nav-ayuda">
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
    </header>
    <section class="not-found-contenedor">
        <img src="../assets/img/4042.gif" alt="">
        <h1>Oops! Tu cohete se perdió</h1>
        <button><a href="../../index.html">Volver a la base</a></button>
    </section>
</body>
</html>