@import "../bases/mixins";

/*Inicio Beneficios*/

.beneficios {
    margin: auto;
    margin-bottom: 9.25rem;
    h3 {
        @include textos(700, 32px, null, center);
        margin: auto;
        margin-bottom: 1rem;
    }
    h4 {
        @include textos(400, 20px, null, center);
        color: nth($colores, 2);
        @include tamaño(60%, null);
        margin: auto;
        margin-bottom: 4.5rem;
    }
    .contenedor-beneficios {
        @include tamaño(100%, null);
        @include display(flex, row nowrap, center, null);
        margin: auto;
        margin-bottom: 4.5rem;
        .beneficios-card {
            @include display(flex, row wrap, space-between, center);
            background-color: nth($colores, 4);
            @include tamaño(30%, null);
            border-radius: 15px;
            margin: auto;
            margin: 0 2.5rem 0 0;
            &:hover {
                transform: scale(1.1);
                transition: all 300ms ease-out;
            }
            h5 {
                @include display(flex, null, null, null);
                margin: 1rem 2.5rem 1.25rem 1.25rem;
                @include textos(600, 20px, null, null);
            }
            img {
                @include tamaño(32px, null);
                margin-right: 1rem;
            }
            .parrafo-card-beneficios {
                color: nth($colores, 2);
                margin: 0 2.5rem 1.25rem 1.25rem;
                @include textos(400, 20px, null, null);
                @include display(flex, null, space-between, null);
            }
        }
    }
    .parrafo-inferior-beneficios {
        @include textos(400, 24px, null, center);
        @include tamaño(70%, null);
        margin: auto;
        color: nth($colores, 2);
    }
}

/*Fin Beneficios*/