@import "../bases/mixins";

/*Inicio Beneficios*/

.beneficios {
    margin-bottom: 148px;
    h3 {
        @include textos(700, 32px);
        margin: auto;
        text-align: center;
        margin-bottom: 16px;
    }
    h4 {
        @include textos(400, 20px);
        color: nth($colores, 2);
        width: 60%;
        margin: auto;
        text-align: center;
        margin-bottom: 72px;
    }
    .contenedor-beneficios {
        width: 100%;
        @include display(flex, row nowrap, center, null);
        margin-bottom: 72px;
        .beneficios-card {
            @include display(flex, row wrap, space-between, center);
            background-color: nth($colores, 4);
            width: 30%;
            border-radius: 15px;
            margin: 0px 20px 0px 0px;
            h5 {
                display: flex;
                margin: 16px 40px 20px 20px;
                @include textos(600, 20px);
            }
            img {
                width: 32px;
                margin-right: 16px;
            }
            .parrafo-card-beneficios {
                color: nth($colores, 2);
                margin: 0 40px 20px 20px;
                @include textos(400, 20px);
                @include display(flex, null, space-between, null);
            }
        }
    }
    .parrafo-inferior-beneficios {
        @include textos(400, 24px);
        text-align: center;
        width: 70%;
        margin: auto;
        color: nth($colores, 2);
    }
}

/*Fin Beneficios*/