@import "../bases/mixins"; 

/*Inicio Excursiones*/

.excursiones {
    @include display(flex, row nowrap, space-between, null);
    @include tamaño(80%, null);
    margin: auto;
    margin-bottom: 148px;
    div {
        @include tamaño(50%, null);
        .contenedor-excursiones {
            @include tamaño(100%, null);
            @include display(flex, column wrap, null, null);
            img {
                @include tamaño(100%, null);
                border-radius: 30px;
            }
            h5 {
                @include textos(500, 16px);
            }
            button {
                @include botones(5px, none, nth($colores, 8), null, nth($colores, 1));
                @include tamaño(35%, 3rem);
                @include textos(600, 24px);
                margin-left: 32%;
                &:hover {
                    box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
                    transform: scale(1.2);
                    transition: all 250ms ease-out;
                }
            }
            
        }
    }
        .contenedor-titulo {
            @include display(flex, column wrap, flex-start, flex-end);
            h3 {
                @include textos(700, 32px);
                text-align: right;
                margin: 0;
                @include tamaño(80%, null);
            }
            h4 {
                @include textos(400, 20px);
                color: nth($colores, 2);
                text-align: right;
                @include tamaño(80%, null);
            }
        
    }
}

/*Fin Excursiones*/