@import "../bases/mixins";

/*Inicio Footer*/

footer {
    background-color: nth($colores, 4);
    @include tamaño(100%, null);
    @media screen and (min-width: 60.5rem) {
        @include tamaño(null, 24.25rem);
        hr {
            display: none;
        }
    }
    div {
        @include display(flex, row nowrap, space-around, flex-start);
        .section-email {
            @include display(flex, row wrap, flex-start, null);
            img {
                @include display(flex, row wrap, null, null);
                margin-right: 0.5rem;
            }
            label {
                @include textos(600, 20px, null, null);
                line-height: 1.5rem;
                @include tamaño(56%, null);
                @include display(flex, row wrap, null, null);
            }
            input {
                @include botones(5px, 1px solid nth($colores, 2), nth($colores, 2), null, nth($colores, 8));
                @include textos(400, 16px, null, null);
                @include tamaño(100%, 2.5rem);
                margin: 1.25rem 0 0.75rem 0;
            }
            button {
                @include botones(5px, 2px solid nth($colores, 1), nth($colores, 1), null, nth($colores, 4));
                @include textos(600, 16px, null, null);
                @include tamaño(100%, 3rem);
            }
        }
        section {
            @include display(flex, column, flex-start, null);
            @include tamaño(26%, null);
            nav {
                ul {
                    @include display(flex, column wrap, flex-start, null);
                    padding: 0;
                    li {
                        list-style-type: none;
                        a {
                            color: nth($colores, 3);
                            text-decoration: none;
                        }
                    }
                }
                .conjunto-iconos-redes {
                    @include tamaño(70%, null);
                    @include display(flex, row nowrap, space-between, null);
                }
            }
            h3 {
                @include textos(700, 32px, null, null);
            }
            h4 {
                @include textos(700, 20px, null, null);
            }
        }
    }
    .copyright {
        text-align: center;
    }
}
/*Fin Footer*/