@import "../bases/colores";
@import "../bases/mixins";

/*Inicio Header*/

header {
    background-color: nth($colores, 8);
    @include tamaño(100%, null);
    @include display(flex, row nowrap, null, null);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    @media screen and (min-width: 969px) {
        .menu-desplegable {
            display: none;
        }
        @include tamaño(null, 64px);
    }
    nav {
        padding: 0 3% 0 3%;
        @include tamaño(100%, null);
        @include display(flex, null, space-between, center);
        ul {
            @include tamaño(56%, null);
            @include display(flex, row nowrap, space-between, null);
            li {
                
                list-style-type: none;
                a {
                    @include textos(400, 16px);
                    color: nth($colores, 2);
                    text-decoration: none;
                }
            }
        }
    }
}

.inicio {
    color: nth($colores , 1);
    @include textos(600, null);
}

.registro {
    @include botones(8px, 2px solid nth($colores, 1), nth($colores, 1), 8px 12px, null);
    @include textos(500, null);

    &:hover {
        @include botones(null, 2px solid nth($colores, 1), nth($colores, 8), null, nth($colores, 1));
        transition: all 300ms ease-out;
    }
}
/*Fin Header*/