@import "../bases/colores";
@import "../bases/mixins";

/*Inicio Header*/


    @media screen and (max-width: 576px) {
        header {
            background-color: nth($colores, 8);
            @include tamaño(100%, null);
            @include display(flex, row nowrap, null, null);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            .header-desktop {
                display: none;
            }
            .menu-desplegable {
                @include tamaño(100%, 3.25rem);
                @include display(flex, null, flex-start, center);
                background-color: white;
                position: fixed;
                z-index: 1;
                input {
                    &:checked  ~ ul{
                        display:block;
                    }
                }
                .input-menu {
                display: none;
                }
                a {
                    .logo-mobile {
                        @include tamaño(null, 2.25rem);
                        @include display(flex, null, null, center);
                    }
                }
                .menu-hamburguesa {
                @include display(inline-block, null, null, null);
                @include tamaño(2rem, 2rem);
                @include textos(700, null, 30px, center);
                box-sizing: border-box;
                border-radius: 5px;
                user-select: none;
                margin-right: 9.75rem;
                }
                .items-menu {
                    @include tamaño(17.5rem, auto);
                    @include display(none, null, null, null);
                    margin-top: 25.625rem;
                    margin-left: -19.75rem;
                    padding-left: 2.5rem;
                    box-shadow: 4px 2px 8px 0px rgba(0,0,0,0.25);
                    -webkit-box-shadow: 4px 2px 8px 0px rgba(0,0,0,0.25);
                    -moz-box-shadow: 4px 2px 8px 0px rgba(0,0,0,0.25);
                    z-index: 0;
                    background-color: nth($colores, 8);
                    .navegacion-menu {
                        @include display(block, null, null, null);
                        background-color: white;
                        margin: 0;
                        padding: 1.25rem 0px 0.625rem 1rem;
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: nth($colores, 3);
                        }
                    }
                    .registro {
                        @include display(block, null, null, null);
                        @include tamaño(15.5rem, null);
                        @include botones(6px, none, null, null, nth($colores, 1));
                        margin-bottom: 1.25rem;
                        padding: 0.75rem 0 0.75rem 1rem;
                        list-style: none;
                        text-align: center;
                        a {
                            text-decoration: none;
                            color: nth($colores, 8);
                            
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 577px) and (max-width: 967px) {
        header {
            background-color: nth($colores, 8);
            @include tamaño(100%, null);
            @include display(flex, row nowrap, null, null);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            .header-desktop {
                display: none;
            }
            .menu-desplegable {
                @include tamaño(100%, 3.25rem);
                @include display(flex, null, flex-start, center);
                background-color: white;
                position: fixed;
                z-index: 1;
                input {
                    &:checked  ~ ul{
                        display:block;
                    }
                }
                .input-menu {
                display: none;
                }
                a {
                    .logo-mobile {
                        @include tamaño(null, 2.25rem);
                        @include display(flex, null, null, center);
                    }
                }
                .menu-hamburguesa {
                @include display(inline-block, null, null, null);
                @include tamaño(2rem, 2rem);
                @include textos(700, null, 30px, center);
                box-sizing: border-box;
                border-radius: 5px;
                user-select: none;
                margin-right: 18rem;
                }
                .items-menu {
                    @include tamaño(17.5rem, auto);
                    @include display(none, null, null, null);
                    margin-top: 25.75rem;
                    margin-left: -28.125rem;
                    padding-left: 2.5rem;
                    box-shadow: 4px 2px 8px 0px rgba(0,0,0,0.25);
                    -webkit-box-shadow: 4px 2px 8px 0px rgba(0,0,0,0.25);
                    -moz-box-shadow: 4px 2px 8px 0px rgba(0,0,0,0.25);
                    z-index: 0;
                    background-color: nth($colores, 8);
                    .navegacion-menu {
                        @include display(block, null, null, null);
                        background-color: nth($colores, 8);
                        margin: 0;
                        padding: 0.75rem 0px 0.625rem 1rem;
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: nth($colores, 3);
                        }
                    }
                    .registro {
                        @include display(block, null, null, null);
                        @include tamaño(15.5rem, null);
                        @include botones(6px, none, null, null, nth($colores, 1));
                        margin-bottom: 1.25rem;
                        padding: 0.75rem 0 0.75rem 1rem;
                        list-style: none;
                        text-align: center;
                        a {
                            text-decoration: none;
                            color: nth($colores, 8);
                            
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width: 969px) {
        .menu-desplegable {
            display: none;
        }
        // @include tamaño(null, 4rem);
        header {
            background-color: nth($colores, 8);
            @include tamaño(100%, null);
            @include display(flex, row nowrap, null, null);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            .header-desktop {
                padding: 0 3% 0 3%;
                @include tamaño(100%, null);
                @include display(flex, null, space-between, center);
                ul {
                    @include tamaño(56%, null);
                    @include display(flex, row nowrap, space-between, null);
                    li {
                        list-style-type: none;
                        a {
                            @include textos(400, 16px, null, null);
                            color: nth($colores, 2);
                            text-decoration: none;
                            &:hover {
                                color: nth($colores , 1);
                                @include textos(600, null, null, null);
                                transition: all 300ms linear;
                                background-color: nth($colores, 16);
                                padding: 0.5rem 1rem;
                                border-radius: 6px;
                            }
                        }
                        .registro {
                            @include botones(8px, 2px solid nth($colores, 1), nth($colores, 1), 8px 12px, null);
                            @include textos(500, null, null, null);
                            &:hover {
                                @include botones(null, 2px solid nth($colores, 1), nth($colores, 8), null, nth($colores, 1));
                                transition: all 300ms ease-out;
                            }
                        }
                    }
                }
            }
        }
        
        
    }

/*Fin Header*/