/*Inicio Home*/

@media screen and (max-width: 576px) {
    .home-contenedor {
        @include tamaño(23.25rem, 42.5rem);
        @include display(flex, row wrap, flex-start, flex-start);
        @include botones(40px, none, null, null, nth($colores, 4));
        margin: auto;
        margin-top: 4.25rem;
        z-index: -1;
        h1 {
            margin-top: 1.5rem;
            margin-left: 1rem;
            @include textos(700, 36px, 48px, null);
            @include tamaño(21.5rem, 42.5rem);
        }
        h2 {
            @include textos(500, 24px, 32px, null);
            @include tamaño(15.25rem, null);
            margin-top: -15.75rem;
            margin-left: 1rem;
        }
        img {
            display: none;
        }
    }
    .buscador-contenedor {
        @include display(flex, null, space-around, center);
        @include tamaño(21.25rem, 25.25rem);
        position: relative;
        top: -26.25rem;
        background-color: nth($colores, 5);
        border-radius: 1.25rem;
        margin: auto;
        box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.25);
        z-index: 0;
        margin-bottom: -22rem;
        .definir-detalles {
            @include display(flex, column wrap, center, center);
            margin-top: -10px;
            .secciones-buscador {
                @include display(flex, column wrap, flex-start, null);
                margin: 10px;
                .formularios-buscador {
                    @include display(flex, null, flex-start, center);
                    margin-bottom: 0.5rem;
                    .iconos-busqueda {
                        @include tamaño(null, 1rem);
                        margin-right: 0.5rem;
                    }
                    label {
                        @include textos(600, 20px, null, null);
                    }
                }
                div {
                    input {
                        @include botones(12px, none, nth($colores, 7), null, nth($colores, 6));
                        @include tamaño(19.25rem, 3rem);
                        @include textos(400, 14px, null, null);
                        box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.13);
                        padding-left: 1rem;
                    }
                    
                    .button {
                        @include display(flex, null, center, null);
                        button {
                            @media screen and (min-width: 968px) {
                                display: none;
                            }
                            @media screen and (max-width: 576px) {
                                @include botones(12px, none, nth($colores, 8), null, nth($colores, 1));
                                @include tamaño(19.25rem, 3.5rem);
                                @include textos(500, 24px, null, null);
                            }
                            
                        }
                    }
                }
                .vertical-line {
                    display: none;
                }
                .button-search {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 577px) and (max-width: 967px) {
    .home-contenedor {
        @include botones(24px, none, null, null, nth($colores, 4));
        @include tamaño(96%, 29rem);
        @include display(flex, row wrap, center, flex-start);
        margin: auto;
        margin-top: 4.25rem;
        h1 {
            @include tamaño(56%, null);
            @include textos(700, 56px, 80px, null);
            @include display(flex, row wrap, flex-start, flex-start);
            margin-bottom: 0.5rem;
            margin-right: 2.75rem;
            margin-top: 3rem;
        }
        img {
            border-radius: 1.25rem;
            margin-top: 3rem;
            @include tamaño(12.5rem, null);
        }
        h2 {
            @include textos(500, 28px, null, null);
            @include display(flex, row wrap, center, center);
            margin-top: -6.75rem;
            margin-left: -13rem;
        }
    }
    .buscador-contenedor {
        @include tamaño(42rem, 10rem);
        @include display(flex, null, space-around, center);
        background-color: nth($colores, 12);
        position: relative;
        top: -6rem;
        border-radius: 1.25rem;
        margin: auto;
        box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.25);
        margin-bottom: 9.25rem;
        .definir-detalles {
            @include display(flex, null, center, center);
            .secciones-buscador {
                @include display(inline-block, null, null, null);
                padding: 0 1rem 0 1rem;
                .button-search {
                    @include botones(12px, null, null, null, nth($colores, 1));
                    @include tamaño(3rem, 7rem);
                    &:hover{
                        box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
                        transform: scale(1.2);
                        transition: all 250ms ease-out;
                    } 
                }
                
                .formularios-buscador {
                    margin-bottom: 2rem;
                    @include display(flex, null, flex-start, center);
                    .iconos-busqueda {
                        margin-right: 0.25rem;
                        height: 1rem;
                    }
                    label {
                        @include textos(600, 14px, null, null);
                        @include tamaño(8.5rem, null);
                    }
                }
                div {
                    input {
                        @include botones(12px, none, nth($colores, 7), null, nth($colores, 6));
                        @include textos(400, 14px, null, null);
                        @include tamaño(100%, 2.5rem);
                        box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.13);
                        padding-left: 1rem;
                    }
                    
                    }
                .vertical-line {
                    border-left: 1px solid  nth($colores, 2);
                }
            }
            .button {
                display: none;
            }
            
        }
    }
}
@media screen and (min-width: 969px) {
    .home-contenedor {
        @include botones(40px, none, null, null, nth($colores, 4));
        @include tamaño(96%, 40rem);
        @include display(flex, row wrap, center, flex-start);
        margin: auto;
        margin-top: 4.25rem;
        h1 {
            @include tamaño(56%, null);
            @include display(flex, row wrap, flex-start, flex-start);
            @include textos(700, 96px, 120px, null);
            margin-bottom: 0.5rem;
            margin-right: 10px;
            margin-top: 3.75rem;
        }
        img {
            @include tamaño(18.25rem, null);
            border-radius: 1.25rem;
            margin-top: 5rem;
        }
        h2 {
            @include textos(500, 42px, null, null);
            @include display(flex, row wrap, center, center);
            margin-top: -7.5rem;
            margin-left: -23rem;
        }
    }
    .buscador-contenedor {
        @include tamaño(78%, 12rem);
        @include display(flex, null, space-around, center);
        background-color: nth($colores, 12);
        position: relative;
        top: -6rem;
        border-radius: 1.25rem;
        margin: auto;
        box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.25);
        margin-bottom: 9.25rem;
        .definir-detalles {
            @include display(flex, null, center, center);
            .secciones-buscador {
                @include display(inline-block, null, null, null);
                padding: 0 1rem 0 1rem;
                .button-search {
                    @include botones(12px, null, null, null, nth($colores, 1));
                    @include tamaño(4rem, 7rem);
                    &:hover{
                        box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
                        transform: scale(1.2);
                        transition: all 250ms ease-out;
                    } 
                }
                .formularios-buscador {
                    margin-bottom: 2rem;
                    @include display(flex, null, flex-start, center);
                    .iconos-busqueda {
                        @include tamaño(null, 1.25rem);
                        margin-right: 0.5rem;
                    }
                    label {
                        @include textos(700, 24px, null, null);
                    }
                }
                div {
                    input {
                        @include botones(12px, none, nth($colores, 7), null, nth($colores, 6));
                        @include textos(400, 14px, null, null);
                        box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.13);
                        @include tamaño(100%, 2.5rem);
                        padding-left: 1rem;
                    }
                    
                    }
                .vertical-line {
                    border-left: 1px solid  nth($colores, 2);
                }
            }
            
        }
    }
}


/*Fin Home*/