/*Inicio Home*/

@media screen and (max-width: 576px) {
    .home-contenedor {
        background-color: #CEECF2;
        border-radius: 40px;
        width: 372px;
        height: 680px;
        margin: auto;
        margin-top: 68px;
        z-index: -1;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        h1 {
            margin-top: 22px;
            margin-left: 16px;
            @include textos(700, 36px, 48px, null);
            width: 342px;
        }
        h2 {
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            width: 244px;
            margin-top: -252px;
            margin-left: 16px;
        }
        img {
            display: none;
        }
    }
    .buscador-contenedor {
        position: relative;
        top: -420px;
        background-color: #f9f9f9be;
        border-radius: 20px;
        margin: auto;
        box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.25);
        z-index: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 340px;
        height: 404px;
        margin-bottom: -352px;
        .definir-detalles {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: center;
            margin-top: -10px;
            .secciones-buscador {
                display: flex;
                flex-flow: column wrap;
                justify-content: flex-start;
                margin: 10px;
                .formularios-buscador {
                    margin-bottom: 8px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .iconos-busqueda {
                        height: 16px;
                        margin-right: 8px;
                    }
                    label {
                        font-weight: 600;
                        font-size: 20px;
                    }
                }
                div {
                    input {
                        background-color: #EEEBEB;
                        color: #494747;
                        border: none;
                        width: 308px;
                        height: 48px;
                        border-radius: 12px;
                        font-weight: 400;
                        font-size: 14px;
                        box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.13);
                        padding-left: 16px;
                    }
                    
                    .button {
                        display: flex;
                        justify-content: center;
                        button {
                            @media screen and (min-width: 968px) {
                                display: none;
                            }
                            @media screen and (max-width: 576px) {
                                @include botones(12px, none, nth($colores, 8), null, nth($colores, 1));
                                @include tamaño(19.25rem, 3.5rem);
                                @include textos(500, 24px, null, null);
                            }
                            
                        }
                    }
                }
                .vertical-line {
                    display: none;
                }
                .button-search {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 577px) and (max-width: 967px) {
    .home-contenedor {
        background-color: nth($colores, 4);
        @include tamaño(96%, 29rem);
        border-radius: 24px;
        margin: auto;
        margin-top: 4.25rem;
        @include display(flex, row wrap, center, flex-start);
        h1 {
            width: 56%;
            @include textos(700, 56px, 80px, null);
            margin-bottom: 0.5rem;
            margin-right: 45px;
            @include display(flex, row wrap, flex-start, flex-start);
            margin-top: 3rem;
        }
        img {
            border-radius: 20px;
            margin-top: 3rem;
            width: 200px;
        }
        h2 {
            @include textos(500, 28px, null, null);
            @include display(flex, row wrap, center, center);
            margin-top: -6.75rem;
            margin-left: -13rem;
        }
    }
    .buscador-contenedor {
        background-color: nth($colores, 12);
        position: relative;
        top: -6rem;
        border-radius: 20px;
        margin: auto;
        @include tamaño(42rem, 10rem);
        box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.25);
        @include display(flex, null, space-around, center);
        margin-bottom: 9.25rem;
        .definir-detalles {
            @include display(flex, null, center, center);
            .secciones-buscador {
                @include display(inline-block, null, null, null);
                padding: 0 1rem 0 1rem;
                .button-search {
                    @include botones(12px, null, null, null, nth($colores, 1));
                    @include tamaño(3rem, 7rem);
                    &:hover{
                        box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
                        transform: scale(1.2);
                        transition: all 250ms ease-out;
                    } 
                }
                
                .formularios-buscador {
                    margin-bottom: 2rem;
                    @include display(flex, null, flex-start, center);
                    .iconos-busqueda {
                        margin-right: 4px;
                        height: 16px;
                    }
                    label {
                        @include textos(600, 14px, null, null);
                        width: 138px;
                    }
                }
                div {
                    input {
                        @include botones(12px, none, nth($colores, 7), null, nth($colores, 6));
                        @include textos(400, 14px, null, null);
                        box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.13);
                        @include tamaño(100%, 2.5rem);
                        padding-left: 16px;
                    }
                    
                    }
                .vertical-line {
                    border-left: 1px solid  nth($colores, 2);
                }
            }
            .button {
                display: none;
            }
            
        }
    }
}
@media screen and (min-width: 969px) {
    .home-contenedor {
        background-color: nth($colores, 4);
        @include tamaño(96%, 40rem);
        border-radius: 40px;
        margin: auto;
        margin-top: 4.25rem;
        @include display(flex, row wrap, center, flex-start);
        h1 {
            width: 56%;
            @include textos(700, 96px, 120px, null);
            margin-bottom: 0.5rem;
            margin-right: 10px;
            @include display(flex, row wrap, flex-start, flex-start);
            margin-top: 3.75rem;
        }
        img {
            border-radius: 20px;
            margin-top: 5rem;
            width: 292px;
        }
        h2 {
            @include textos(500, 42px, null, null);
            @include display(flex, row wrap, center, center);
            margin-top: -7.5rem;
            margin-left: -23rem;
        }
    }
    .buscador-contenedor {
        background-color: nth($colores, 12);
        position: relative;
        top: -6rem;
        border-radius: 20px;
        margin: auto;
        @include tamaño(78%, 12rem);
        box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.25);
        @include display(flex, null, space-around, center);
        margin-bottom: 9.25rem;
        .definir-detalles {
            @include display(flex, null, center, center);
            .secciones-buscador {
                @include display(inline-block, null, null, null);
                padding: 0 1rem 0 1rem;
                .button-search {
                    @include botones(12px, null, null, null, nth($colores, 1));
                    @include tamaño(4rem, 7rem);
                    &:hover{
                        box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
                        transform: scale(1.2);
                        transition: all 250ms ease-out;
                    } 
                }
                .formularios-buscador {
                    margin-bottom: 2rem;
                    @include display(flex, null, flex-start, center);
                    .iconos-busqueda {
                        margin-right: 8px;
                        height: 20px;
                    }
                    label {
                        @include textos(700, 24px, null, null);
                    }
                }
                div {
                    input {
                        @include botones(12px, none, nth($colores, 7), null, nth($colores, 6));
                        @include textos(400, 14px, null, null);
                        box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.13);
                        @include tamaño(100%, 2.5rem);
                        padding-left: 16px;
                    }
                    
                    }
                .vertical-line {
                    border-left: 1px solid  nth($colores, 2);
                }
            }
            
        }
    }
}


/*Fin Home*/