/*Inicio Medios de pago*/

.medios-de-pago {
    @include display(flex, row wrap, center, null);
    margin-bottom: 9.25rem;
    h3 {
        @include textos(700, 32px, null, center);
        margin: auto;
        margin-bottom: 1rem;
        @include tamaño(100%, null);
    }
    h4 {
        @include textos(400, 20px, null, center);
        color: nth($colores, 2);
        @include tamaño(100%, null);
        margin: auto;
        margin-bottom: 4.5rem;
    }
    div {
        background-color: nth($colores, 8);
        border: 4px solid nth($colores, 4);
        border-radius: 15px;
        @include display(flex, row wrap, center, center);
        @include tamaño(32%, 12rem);
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
        &:hover {
            transform: scale(1.1);
            transition: all 300ms ease-out;
            border: 4px solid nth($colores, 1);
            background-color: nth($colores, 16);
        }
        h5 {
            @include textos(600, 20px, null, center);
            margin-bottom: 1rem;
            @include tamaño(21.75rem, null);
            margin-top: 0;
        }
        .logo-transferencia {
            @include tamaño(5.25rem, null);
            @include display(flex, row nowrap, null, null);
        }
        .logo-mercadopago {
            @include tamaño(13.5rem, null);
            @include display(flex, row nowrap, null, null);
        }
        .logo-mastercard {
            @include tamaño(5.25rem, null);
            @include display(flex, row nowrap, null, null);
        }
        .logo-visa {
            @include tamaño(7.75rem, null);
            @include display(flex, row nowrap, null, null);
        }
        .logo-pago-facil {
            @include tamaño(5rem, null);
            @include display(flex, row nowrap, null, null);
        }
        .logo-rapipago {
            @include tamaño(10.75rem, null);
            @include display(flex, row nowrap, null, null);
        }
    }
}

/*Fin Medios de pago*/