/*Inicio Medios de pago*/

.medios-de-pago {
    @include display(flex, row wrap, center, null);
    margin-bottom: 148px;
    h3 {
        @include textos(700, 32px);
        margin: auto;
        text-align: center;
        margin-bottom: 16px;
        @include tamaño(100%, null);
    }
    h4 {
        @include textos(400, 20px);
        color: nth($colores, 2);
        @include tamaño(60%, null);
        margin: auto;
        text-align: center;
        margin-bottom: 72px;
        width: 100%;
    }
    div {
        background-color: nth($colores, 8);
        border: 4px solid nth($colores, 4);
        border-radius: 15px;
        @include display(flex, row wrap, center, center);
        @include tamaño(32%, 12rem);
        margin-right: 20px;
        margin-bottom: 20px;
        h5 {
            @include textos(600, 20px);
            margin-bottom: 16px;
            @include tamaño(348px, null);
            text-align: center;
            margin-top: 0;
        }
        .logo-transferencia {
            @include tamaño(84px, null);
            @include display(flex, row nowrap, null, null);
        }
        .logo-mercadopago {
            @include tamaño(217px, null);
            @include display(flex, row nowrap, null, null);
        }
        .logo-mastercard {
            @include tamaño(86px, null);
            @include display(flex, row nowrap, null, null);
        }
        .logo-visa {
            @include tamaño(123px, null);
            @include display(flex, row nowrap, null, null);
        }
        .logo-pago-facil {
            @include tamaño(80px, null);
            @include display(flex, row nowrap, null, null);
        }
        .logo-rapipago {
            @include tamaño(173px, null);
            @include display(flex, row nowrap, null, null);
        }
    }
}

/*Fin Medios de pago*/