/*Inicio Promociones*/

.promociones {
    @include display(flex, row nowrap, space-between, null);
    @include tamaño(80%, null);
    margin: auto;
    margin-bottom: 9.25rem;
    .contenedor-titulo {
        @include display(flex, column wrap, flex-start, flex-start);
        @include tamaño(50%, null);
        h3 {
            @include textos(700, 32px, null, null);
            margin: 0;
            @include tamaño(80%, null);
        }
        h4 {
            @include textos(400, 20px, null, null);
            color: nth($colores, 2);
            @include tamaño(60%, null);
        }
    }
    .contenedor-destinos {
        @include tamaño(60%, null);
        @include display(flex, row nowrap, null, null);
        .destinos-carrousel {
            @include display(flex, column wrap, flex-start, null);
            img {
                @include tamaño(90%, null);
                border-radius: 25px;
            }
            div {
                .precio {
                    @include botones(6px, null, nth($colores, 8), null, nth($colores, 1));
                    @include textos(600, 24px, null, null);
                    @include tamaño(52%, 3rem);
                    @include display(flex, null, center, center);
                    margin-top: -1.5rem;
                    margin-left: 5.75rem;
                    margin-bottom: 1.5rem;
                    &:hover {
                        transform: scale(1.2);
                        transition: all 300ms ease-out;
                        box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25) inset;
                    }
                }
                h4 {
                    @include textos(500, 16px, null, null);
                    margin-bottom: 0.5rem;
                }
                h5 {
                    @include textos(500, 16px, null, null);
                    margin-top: 0;
                    margin-bottom: 0.75rem;
                }
                .cantidad-lugares {
                    @include textos(400, 14px, null, null);
                    color: nth($colores, 2);
                    margin-top: 0;
                }
            }
        }
    }
}
/*Fin Promociones*/