/*Inicio página registro*/

.registro-iniciosesion {
    background-color: nth($colores, 4);
    .menu-contenedor {
        @include tamaño(100%, 4rem);
        background-color: nth($colores, 8);
        @include display(flex, row nowrap, space-between, center);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        .header-contenedor {
            .nav-ayuda {
                margin-left: 61.25rem;
                width: 50%;
            }
        }
    }
    section {
        @include tamaño(95%, 44.25rem);
        @include display(flex, row wrap, null, null);
        background-color: nth($colores, 8);
        margin: auto;
        margin-top: 7.25rem;
        margin-bottom: 4.25rem;
        border-radius: 30px;
        z-index: 0;
        .registro-contenedor-small {
            @include display(flex, column wrap, center, null);
            @include tamaño(50%, 44.25rem);
            border-radius: 30px;
            box-shadow: 4px 0px 8px 0px rgba(0,0,0,0.25);
            -webkit-box-shadow: 4px 0px 8px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 4px 0px 8px 0px rgba(0,0,0,0.25);
            h1 {
                @include textos(500, 42px, null, center);
                margin-top: 2.75rem;
            }
            img {
                margin: auto;
                @include tamaño(33.25rem, null);
            }
        }
        .contenedor-de-formulario {
            @include tamaño(32.25rem, 42rem);
            @include display(flex, row wrap, space-between, null);
            margin: auto;
            margin-top: 1.5rem;
            .formulario {
                @include display(flex, column wrap, flex-start, null);
                label {
                    @include textos(500, 16px, null, null);
                    margin-bottom: 0.75rem;
                }
                input {
                    @include botones(12px, none, nth($colores, 2), null, nth($colores, 11));
                    @include tamaño(15.25rem, 3rem);
                    @include textos(400, 14px, null, null);
                }
                p {
                    @include textos(400, 14px, null, null);
                    @include tamaño(15.25rem, null);
                    margin-top: 0.75rem;
                    color: nth($colores, 2);
                }
            }
            button {
                @include tamaño(32.25rem, 3rem);
                @include botones(6px, none, nth($colores, 8), null, nth($colores, 1));
                @include textos(600, 24px, null, null);
                @include display(flex, row nowrap, center, center);
            }
            a {
                text-decoration: none;
                .contenedor-facebook {
                    @include botones(6px, none, nth($colores, 8), null, nth($colores, 14));
                    @include textos(500, 20px, null, null);
                    @include tamaño(32.25rem, 3rem);
                    @include display(flex, null, center, center);
                    span {
                        margin-left: 0.75rem;
                    }
                }
                .contenedor-google {
                    @include botones(6px, none, nth($colores, 8), null, nth($colores, 15));
                    @include textos(500, 20px, null, null);
                    @include tamaño(32.25rem, 3rem);
                    @include display(flex, null, center, center);
                    span {
                        margin-left: 0.75rem;
                    }
                }

            }
            .parrafos-inferiores-formulario {
                text-align: center;
                color: nth($colores, 2);
                p {
                    margin: 0;
                    a {
                        margin-left: 0.5rem;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

            }

        }
    }
    footer {
        @include tamaño(100%, 52px);
        @include display(flex, row nowrap, center, center);
        background-color: nth($colores, 8);
        margin: 0;
        p {
            color: nth($colores, 2);
            @include display(flex, row nowrap, center, null);
            b {
                @include display(flex, row nowrap, center, null);
            }
        }
    }
    
}