/*Inicio página registro*/

.registro-iniciosesion {
    background-color: nth($colores, 4);
    .menu-contenedor {
        @include tamaño(100%, 64px);
        background-color: nth($colores, 8);
        @include display(flex, row nowrap, space-between, center);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        .header-contenedor {
            a {
                width: 50%;
            }
            .nav-ayuda {
                margin-left: 980px;
                width: 50%;
            }
        }
    }
    
}