/*Inicio Sobre nosotros*/

.contenedor-nosotros {
    @include display(flex, row nowrap, null, null);
    @include tama単o(80%, null);
    margin: auto;
    margin-bottom: 148px;
    .titulo-nosotros {
        padding-right: 20px;
    }
    div {
        @include tama単o(50%, null);
        h3 {
            @include textos(700, 32px);
            margin-top: 0;
        }
        p {
            @include textos(400, 20px);
            line-height: 32px;
            color: nth($colores, 2);
            @include tama単o(90%, null);
        }
        .imagen-equipo {
            @include tama単o(100%, null);
            border-radius: 30px;
        }
    }
}

/*Fin Sobre nosotros*/