/*Inicio Sobre nosotros*/

.contenedor-nosotros {
    @include display(flex, row nowrap, null, null);
    @include tamaño(80%, null);
    margin: auto;
    margin-bottom: 148px;
    .titulo-nosotros {
        padding-right: 20px;
    }
    div {
        @include tamaño(50%, null);
        h3 {
            @include textos(700, 32px, null, null);
            margin-top: 0;
        }
        p {
            @include textos(400, 20px, 32px, null);
            color: nth($colores, 2);
            @include tamaño(90%, null);
        }
        .imagen-equipo {
            @include tamaño(100%, null);
            border-radius: 30px;
        }
    }
}

/*Fin Sobre nosotros*/