/*Inicio Sobre nosotros*/

.contenedor-nosotros {
    @include display(flex, row nowrap, null, null);
    width: 80%;
    margin: auto;
    margin-bottom: 148px;
    .titulo-nosotros {
        padding-right: 20px;
    }
    div {
        width: 50%;
        h3 {
            @include textos(700, 32px);
            margin-top: 0;
        }
        p {
            @include textos(400, 20px);
            line-height: 32px;
            color: nth($colores, 2);
            width: 90%;
        }
        .imagen-equipo {
            width: 100%;
            border-radius: 30px;
        }
    }
}

/*Fin Sobre nosotros*/